# ストレージファイルの無視
/storage/*
!/storage/.keep

# .env ファイルの無視
.env
.env.local
.env.production
.env.development
.env.test

# バンドルディレクトリの無視
/vendor/bundle/

# ログファイルの無視
/log/*.log

# 一時ファイルやキャッシュの無視
*.swp
*.swo
*.DS_Store
*~
/tmp
/cache